* {

  font-family: 'Merriweather', serif;

}

body {

  background:
    linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.9)
    ),
    url(https://images.unsplash.com/photo-1451303688941-9e06d4b1277a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=59edb7974cdcc37b973c35b24855b93b);
    background-size: cover;

}

header h1 {

  display: block;
  background-color: #333;
  color: white;
  padding: 25px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;

}

legend {

    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin: 1em 0 0.5em;

}

.container {

  max-width: 758px;
  margin: 0 auto;
  padding: 0;

}

p {

  color: #777;
  display: block;

}


label {

  color: #777;
  display: block;
  margin: 1em 0 0;

}

input,
select {

  box-sizing: border-box;
  display: block;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 0.5em 0;
  padding: 0 1.125em;
  font-size: 1em;
  height: 3.5em;
}

textarea {

  box-sizing: border-box;
  width: 100%;
  height: 6em;
  margin: 1em 0 0;
  padding: 1em;
  resize: none;
  border: none;
  border-radius: 5px;
  background-color: #fff;

}

.help {

    display:none;
    font-size:90%;

}

input:focus + .help {

    display: inline-block;

}


:focus{

  box-shadow: none;
  border: 2px solid rgb(71,106,138);
  outline: 0 none;
  background-color: #9f9f9f;
  transition: background-color 2s;

}

::-webkit-input-placeholder {
  text-align: right;
  font-style: italic;
  padding: 0 5px;
}
::-moz-placeholder {
  text-align: right;
  font-style: italic;
  padding: 0 5px;
}
:-ms-input-placeholder {
  text-align: right;
  font-style: italic;
  padding: 0 5px;
}
:-moz-placeholder {
  text-align: right;
  font-style: italic;
  padding: 0 5px;
}


#intro {

  margin: 1em auto 0;
  border-bottom: thick solid #343434;
  text-align: center;
  max-width: 95%;

}

#contact-information {

  border: none;
  margin: 1em 0;
  padding: 0;
  box-sizing: border-box;

}

#contact-container {

  border-top: medium solid #343434;
  border-bottom: medium solid #343434;
  margin: 0.25em auto;
  padding: 2em 0;
  max-width: 95%;

}

#state {

  background: no-repeat 98%/25px url(../img/down-arrow.svg) #eee;
  -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

}

#state::-ms-expand {
    display: none;
}

#zip-code {

  width: 160px;

}

#newsletter {

  border: none;
  margin: 0.25em 0 1em;
  padding: 0;

}

#newsletter-container {

  padding: 0.25em 0.5em;
  font-size: 1.125em;
  margin: 0.25em auto;
  padding: 2em 0;
  max-width: 95%;

}

#newsletter ul {

  margin: 0 0 1em;
  padding: 0;

}

#newsletter li {

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;

}

#newsletter ul input {

  width: auto;
  margin: 0 1em 0 0;
  padding: 0;
  color: #eee;
  height: 2em;

}

#newsletter label {

  margin: 0;

}

.topics-label {

  display: block;
  margin: 1.25em 0 0;

}

#submit {

  background-color: #aaa;
  color: #fff;
  font-size: 1.125em;

}

footer {

  text-align: center;
  font-style: italic;
  color: #bbb;

}

@media (min-width: 760px) {


  #contact-container input,
  #contact-container select {

    width: 74%;

  }

  #contact-container label {

    width: 25%;

  }

  #contact-container input,
  #contact-container select,
  #contact-container label {

    display: inline-block;

  }

  input:focus + .help {

    display: block;
    text-align: right;

  }

}
